<app-header></app-header>

<div class="flex justify-center h-screen bg-gray-100">
  <div class="m-20 p-6 bg-white shadow-md rounded-md flex space-x-8 w-3/4">
    <!-- Student List -->
    <div class="w-1/3">
      <h2 class="text-lg font-semibold text-center">Students</h2>
      <ul class="border rounded-md p-4 w-full">
        <li
          *ngFor="let student of students"
          (click)="selectStudent(student)"
          class="p-2 cursor-pointer hover:bg-blue-300 text-center"
        >
          {{ student.name }}
        </li>
      </ul>
    </div>

    <!-- Student Info -->
    <div class="w-2/3">
      <h2 class="text-lg font-semibold text-center">Student Info</h2>
      <div
        *ngIf="selectedStudent"
        class="p-6 border rounded-md bg-gray-50 shadow-lg text-center"
      >
        <p><strong>Name:</strong> {{ selectedStudent.name }}</p>
        <p><strong>Age:</strong> {{ selectedStudent.age }}</p>
        <p><strong>Course:</strong> {{ selectedStudent.course }}</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
